{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Netflix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="{% static 'catflix/headers.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'catflix/style.css' %}">
    
  
  </head>
  <body>
    
      <!-- HEADER -->
      <nav class="main-nav">
        <div class="wrapper">
          <header class="p-3 text-bg-dark">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <a id="logo" href="{% url 'home' %}"><img src="https://i.ibb.co/GkfTt0K/catlfix-102x33.png" alt="Logo Image"></a>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{% url 'home' %}" class="nav-link px-2 text-danger">Home</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">TV Shows</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Movies</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Originals</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Trending</a></li>
                </ul>
                <nav class="sub-nav">
                  <form action="/" method="POST" style= "display: inline-block;">            
                    {% csrf_token %}
                    {{ search_form.as_p }}
                    
                  </form>
          
                  <div class="text-end">
                    {% if request.user.is_authenticated %}
                      {{ request.user }}
                        <button type="button" class="btn btn-danger"><a href="/logout">Logout</a></button>
                      {% else %}
                        <button type="button" class="btn btn-outline-light me-2"><a href="/register">Register</a></button>
                        <button type="button" class="btn btn-danger"><a href="/login">Login</a></button>
                      {% endif %}
                  </div>
                </div>
              </div>
            </nav>
              </nav>
              
          </header>
      <!-- END OF HEADER -->
    <section class="main-container" >
      <div class="location" id="home">
          <div class="box">
            <form id="registerForm" action="/register" method="POST">
              {% csrf_token %}
              {{ register_form.as_p }}
              
              <button type="submit" class="btn btn-danger">Register</button>
          </form>
          </div>
      </div>
    </section>
  </div>
</body>
</html>